body {
    margin: 0; 
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: hsl(212, 6%, 45%);
    background-color: #bdbcb7;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/*////////////////////// Container /////////////////////////*/

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*////////////////////// HEADER /////////////////////////*/

.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid #515369;
}

.header__logo {
    font-size: 25px;
}
/*////////////////////// NAV /////////////////////////*/

.nav {
    display: flex;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 30px;
    color: #ffff;
    text-decoration: none;
    opacity: 0.75;
    transition: color .2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color:orange;
    opacity: 1;
}

/*////////////////////// INTRO /////////////////////////*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background-color:black;
    background: url("img/intro_bg.png") center ;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 45px;
        margin-bottom: 15px;
        color:darkgray;
        font-weight: 700;
        text-transform: uppercase;
}

.intro__subtitle {
    font-size: 22px;
    margin-bottom: 50px;
    color:honeydew;
    font-weight: 400;
}

/*////////////////////// BUTTON /////////////////////////*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 12px 30px;
    margin-top: 40px;
    border-radius: 2.5px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight:bolder;
    color:oldlace;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s linear;
}

.btn--gray {
    background-color:dimgrey;
    transition: background-color .2s linear;
}

.btn--gray:hover
{
    background-color:#424245;
}

/*////////////////////// FEATURES /////////////////////////*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
    color:black;
}

.features__item {
    width: 33.33333%;
    text-align: center;
    margin: 30px 0;
}
.features__img {
    max-width: 100;
    margin-bottom: 20px;
    height: 130px;
}

.features__title {
    height: 20px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    text-transform: uppercase;
}

.features__text {
    line-height: 1.5;
    font-size: 16px;
    font-weight:500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/*////////////////////// CARS /////////////////////////*/

.cars {
    display: flex;
    flex-wrap: wrap;
    background-color:black;
}

.cars__item {
    width: 33.3333333%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.cars__item:hover .cars__content {
    opacity: 1;
}

.cars__img {
    max-width: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%,-50%,0);
}

.cars__content {
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;
}

.cars__title {
    font-size: 25px;
    font-weight: bolder;
    color:darkgray;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.cars__text {
    font-family: normal;
}

/*////////////////////// REVIEWS /////////////////////////*/


.reviews {
    margin-top: 50px;
    overflow: hidden;
    color:#bdbcb7;
    background-color: #2e2e2c;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
    
}

.reviews__ph {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 40px;
}

.reviews__text {
    font-family: 'Cardo', sans-serif;
    font-size: 30px;
    font-style: italic;
    line-height: 1.2;
}

.reviews__author {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}

/*////////////////////// FOOTER /////////////////////////*/

.footer {
    height:150px;
    color:black;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer__item {
    padding: 0 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 33.33333%;
    text-align: center;
}

.footer__title {
    font-family: sans-serif;
    font-weight: bolder;
}

.footer__link {
    text-decoration: none;
    font-weight: bolder;
    color:black;
}

.btn__footer {
    padding: 4px 4px;
    margin:10px;
    border-radius: 2px;
    border: 2px solid white;
}
.btn__footer:hover {
    background-color: white;
}

.copyright {
    padding: 20px 0;
    background-color: #9c9b95;
}

.copyright__text {
    font-family: serif;
    font-size: 15px;
    text-align: center;
}

.copyright__text span {
    color:azure;
}

/*////////////////////// MEDIA /////////////////////////*/

@media (max-width: 1024px) {
    /* Cars */
   .cars__item {
        width: 50%;
    }
}

@media (max-width: 991px) {
    /* Intro */
    .intro__title {
        font-size: 33px;
    }

    /* Features */
    .features__item {
        width:50%
    }

    .features {
        margin:30px 0 40px;
    }

    /* Cars */
    .cars__item {
        width: 50%;
    }

    /* Reviews */
    .reviews__ph {
        width: 100%;
    }
    
    .reviews__content {
        margin: 20px 10px 20px 10px;
        width: 100%;
    }

    .reviews__text {
        font-size: 25px;
    }

    .reviews__author {
        font-size: 22px;
    }
}

@media (max-width:767px) {
    /* Header */
    .header__inner{
        padding: 10px 0;
    }
    .header__logo {
        font-size: 15px;
        text-align: center;
    }

    .nav{
        font-size: 10px;
    }

    .nav__link {
        margin-left: 10px;
    }

    .nav__link:first-child { 
        margin-left: 5px;
    }

    .nav__link:last-child {
        margin-right: 5px;
    }

    /* Intro */
    .inro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 25px;
    }

    .intro__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }

    /* Features */

    .features__item {
        width:100%;
        padding-left: 0;
        padding-right: 0;
    }

    .features {
        margin:10px 0 30px;
    }

    .features__text {
        font-size: 20px;
    }

    /* Cars */
    .cars__item {
        width: 100%;
        height: 300px;
    }

    /* Reviews */

    .reviews__img {
        right: -100px;
    }

    .reviews__text {
        font-size: 15px;
    }

    .reviews__author {
        font-size: 13px;
    }

    /* Footer */

    .footer__item:first-child {
        margin-top: 40px;
    }

    .footer__item {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 100%;
    }

}